# 应用名称
spring:
  application:
    name: riddler_reserve
  # 激活环境配置
  profiles:
    active: dev

  jackson:
    # 全局设置@JsonFormat的格式pattern
    date-format: yyyy-MM-dd HH:mm:ss
    # 当地时区
    locale: zh
    # 设置全局时区
    time-zone: GMT+8


  # 用户写死, 不通过 Security 来鉴权
  security:
    user:
      name: blade
      password: 123
# sa-token配置
sa-token:
  # token名称 (同时也是cookie名称)
  token-name: satoken
  # token有效期，单位s 默认30天, -1代表永不过期
  timeout: 2592000
  # token临时有效期 (指定时间内无操作就视为token过期) 单位: 秒
  activity-timeout: -1
  # 是否允许同一账号并发登录 (为true时允许一起登录, 为false时新登录挤掉旧登录)
  is-concurrent: false
  # 在多人登录同一账号时，是否共用一个token (为true时所有登录共用一个token, 为false时每次登录新建一个token)
  is-share: false
  # token风格
  token-style: uuid

# mybatis-plus
mybatis-plus:
  configuration:
    # 开启下划线转驼峰
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      table-prefix: rm_ # 表格前缀
  # mapper路径位置
  mapper-locations: classpath:mapper/*.xml
# 应用服务 WEB 访问端口
server:
  port: 5000

