spring:
  datasource:
    url: jdbc:mysql://localhost:3306/riddlerman_reserve?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8
    username: root
    password: 123123  #数据库名、用户名和密码改为自己的
    driver-class-name: com.mysql.cj.jdbc.Driver
logging:
  level:
    com.pjboy.riddler_reserve.mapper: debug