<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjboy.riddler_reserve.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.pjboy.riddler_reserve.model.OrderDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="order_goods" jdbcType="INTEGER" property="orderGoods"/>
        <result column="order_round" jdbcType="INTEGER" property="orderRound"/>
        <result column="order_room" jdbcType="INTEGER" property="orderRoom"/>
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime"/>
        <result column="order_price" jdbcType="DECIMAL" property="orderPrice"/>
        <result column="order_state" jdbcType="INTEGER" property="orderState"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <select id="listOrdersByDate" resultType="com.pjboy.riddler_reserve.model.vo.OrderVO">
        SELECT rm_order.id,
        order_id,
        rm_goods.name as 'goods',
        rm_round.name as 'round',
        rm_room.name as 'room',
        order_time,
        order_state,
        rm_user.username
        FROM rm_order,
        rm_order_group,
        rm_round,
        rm_room,
        rm_goods,
        rm_user
        <where>
            <if test="startTime!=null">
                AND date_format(order_time,'%Y-%m-%d') &gt;= date_format(#{startTime},'%Y-%m-%d')
            </if>
            <if test="endTime!=null">
                AND date_format(order_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
            </if>
            AND rm_order.order_group = rm_order_group.id
            AND rm_order_group.round_id = rm_round.id
            AND rm_order_group.room_id = rm_room.id
            AND rm_order_group.goods_id = rm_goods.id
            AND rm_order.user_id = rm_user.id
        </where>
    </select>
    <select id="getOrderVOByUserId" resultType="com.pjboy.riddler_reserve.model.front.vo.OrderVO">
        SELECT rm_order.id,
        rm_order.order_id,
        rm_goods.name as 'goods',
        rm_goods.cover_img as 'coverImg',
        rm_round.name as 'round',
        rm_room.name as 'room',
        rm_order_group.play_time,
        rm_order_group.package_name,
        rm_order_group.package_price,
        rm_order.order_time,
        rm_order.order_state,
        rm_order.user_id
        FROM rm_order,
        rm_order_group,
        rm_round,
        rm_room,
        rm_goods
        <where>
            rm_order.order_group = rm_order_group.id
            AND rm_order_group.round_id = rm_round.id
            AND rm_order_group.room_id = rm_room.id
            AND rm_order_group.goods_id = rm_goods.id
            <if test="userId!=null">
                AND rm_order.user_id = #{userId}
            </if>
            <if test="goodsName!=null">
                AND rm_goods.name LIKE CONCAT('%',#{goodsName},'%')
            </if>
        </where>
        order by rm_order.order_time desc
    </select>
    <select id="getOrderListAll" resultType="com.pjboy.riddler_reserve.model.vo.OrderVO">
        SELECT rm_order.id,
        order_id,
        rm_goods.name as 'goods',
        rm_round.name as 'round',
        rm_room.name as 'room',
        order_time,
        order_state,
        rm_user.username
        FROM rm_order,
        rm_order_group,
        rm_round,
        rm_room,
        rm_goods,
        rm_user
        <where>
            <if test="startTime!=null">
                AND date_format(order_time,'%Y-%m-%d') &gt;= date_format(#{startTime},'%Y-%m-%d')
            </if>
            <if test="endTime!=null">
                AND date_format(order_time,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
            </if>
            AND rm_order.order_group = rm_order_group.id
            AND rm_order_group.round_id = rm_round.id
            AND rm_order_group.room_id = rm_room.id
            AND rm_order_group.goods_id = rm_goods.id
            AND rm_order.user_id = rm_user.id
            <if test="userName!=null">
                AND rm_user.username LIKE CONCAT('%',#{userName},'%')
            </if>
        </where>
    </select>
</mapper>
