<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjboy.riddler_reserve.mapper.OrderGroupMapper">
  <resultMap id="VOResultMap" type="com.pjboy.riddler_reserve.model.vo.OrderGroupVO">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="goods_name" jdbcType="VARCHAR" property="GoodsName"/>
    <result column="play_num" jdbcType="INTEGER" property="playNum"/>
    <result column="package_name" jdbcType="VARCHAR" property="packageName"/>
    <result column="package_price" jdbcType="DECIMAL" property="packagePrice"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>
  <select id="selectOrderGroupPage" resultMap="VOResultMap">
    SELECT
    og.id,
    g.name 'goods_name',g.play_num,
    og.package_name,og.package_price,og.create_time
    FROM rm_order_group og,
    rm_goods g
    <where>
      og.goods_id = g.id
      <if test="goodsName != null">
        g.name LIKE CONCAT('%',#{goodsName},'%')
      </if>
      <if test="createTimeStart != null">
        AND og.create_time >= CONCAT('','${createTimeStart}',' 00:00:00')
      </if>
      <if test="createTimeEnd != null">
        AND og.create_time &lt;= CONCAT('','${createTimeEnd}',' 23:59:59')
      </if>
    </where>

  </select>
  <select id="findOrderGroupById" resultMap="VOResultMap">
    SELECT
    og.id,
    g.name 'goods_name',g.play_num,
    og.package_name,og.package_price,og.create_time
    FROM rm_order_group og,
    rm_goods g
    <where>
      og.goods_id = g.id
      <if test="id != null">
        og.id = #{id}
      </if>
    </where>
  </select>
</mapper>
