<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjboy.riddler_reserve.mapper.RoundMapper">
  <resultMap id="BaseResultMap" type="com.pjboy.riddler_reserve.model.RoundDO">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
  </resultMap>

  <select id="selectRoundsPage" resultType="com.pjboy.riddler_reserve.model.RoundDO">
    SELECT * FROM
    rm_round
    <where>
      <if test="name != null">
        name LIKE CONCAT('%',#{name},'%')
      </if>
    </where>
  </select>

  <select id="getAllDWRounds" resultType="com.pjboy.riddler_reserve.model.util.DropDown">
    SELECT id 'value',name 'label'
    FROM rm_round
  </select>


</mapper>
